<div class="min-w-screen min-h-screen flex items-center justify-center px-5 py-5">
    <div class="bg-neutral-800 text-gray-200 rounded-3xl w-full overflow-hidden" style="max-width: 1000px;">
        <div class="md:flex w-full">
            <div class="hidden md:block w-1/2">
                <img src="https://images.pexels.com/photos/442150/pexels-photo-442150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Man in server"
                class="object-cover h-full w-full">
            </div>
            <div class="w-full md:w-1/2 py-5 px-5">
                <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
                    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                        <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
                        Flowbite    
                    </a>
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8 w-full">
                        <h1 class="text-xl font-bold  tracking-tight text-gray-200 md:text-2xl">
                            Inicia sesión
                        </h1>
                        <form class="space-y-4 md:space-y-6" action="#">
                            <div>
                                <label for="username" class="block mb-2 text-sm font-medium text-gray-200">Usuario</label>
                                <input type="text" name="username" id="username" class="bg-neutral-700 border border-neutral-700 text-gray-200 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Usuario" required="">
                            </div>
                            <div>
                                <label for="password" class="block mb-2 text-sm font-medium text-gray-200">Password</label>
                                <input type="password" name="password" id="password" placeholder="••••••••" class="bg-neutral-700 border border-neutral-700 text-gray-200 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
                            </div>
                            <div class="flex justify-end">
                                <button type="submit" class="text-neutral-800 bg-lime-300 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-6 py-2.5 text-center">Iniciar Sesión</button>
                            </div>
                            <div class="flex  flex-col items-center justify-center"> 
                                <a href="#" class="text-sm font-medium text-gray-200 hover:underline ">Recuperar Contraseña</a>
                                <a class="text-sm font-light text-gray-400 hover:underline">
                                    Politicas de uso
                                </a>
                            </div>
                            
                        </form>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>
