<div
  class="relative overflow-y-hidden overflow-x-auto pb-4 px-4 shadow-md sm:rounded-lg"
  style="height: calc(100vh - 100px)"
>
  <!-- Header Interno  -->
  <div
    class="flex flex-col sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center pb-4"
  >
    <div
      class="inline-flex items-center text-neutral-800 font-medium rounded-lg text-lg px-3 py-1.5"
    >
      Usuarios
    </div>
    <!-- Busqueda -->
    <div class="relative w-full sm:w-auto">
      <label for="table-search" class="sr-only">Buscar</label>
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        id="table-search"
        placeholder="Buscar usuario"
        class="block p-2 pl-10 w-80 text-sm text-neutral-800 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
      />
    </div>
  </div>
  <!-- Buttones -->
  <div class="p-4 space-x-4">
    <button class="button-primary" (click)="openModal()">Nueva</button>
  </div>
  <!-- contenedor tabla -->
  <div class="overflow-auto max-h-[calc(100vh-200px)]">
    <!-- Inicio Tabla -->
    <table class="w-full text-sm text-left">
      <!-- Inicio Cabecera -->
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="p-4">Nombre</th>
          <th scope="col" class="p-4">Área</th>
          <th scope="col" class="p-4">Email</th>
          <th scope="col" class="p-4">Tipo de usuario</th>
          <th scope="col" class="p-4">Username</th>
          <th scope="col" class="p-4 text-center">acción</th>
        </tr>
      </thead>
      <!-- Fin Cabecera -->
      <!-- contenido tabla -->
      <tbody>
        <tr
          *ngFor="let user of users; let i = index"
          class="border-b hover:bg-gray-50"
        >
          <th
            scope="row"
            class="px-6 py-4 font-semibold text-neutral-700 whitespace-nowrap uppercase"
          >
            {{ user.name }}
          </th>
          <td class="px-6 py-4">{{ user.area.areaDTO.name }}</td>
          <td class="px-6 py-4">{{ user.email }}</td>
          <td class="px-6 py-4">
            <div class="flex items-center">
              <div
                class="h-2.5 w-2.5 rounded-full mr-2"
                [ngClass]="{
                  'bg-green-400': user.role === 'ADMIN',
                  'bg-blue-400': user.role === 'TEC',
                  'bg-yellow-400': user.role === 'GEN'
                }"
              ></div>
              {{ getRoleName(user.role) }}
            </div>
          </td>
          <td class="px-6 py-4">{{ user.username }}</td>
          <td class="px-6 py-4">
            <div class="flex justify-center gap-6">
              <a
                (click)="isEdit(user)"
                data-modal-target="editUserModal"
                data-modal-show="editUserModal"
                class="font-medium text-green-500 hover:ring-green-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                  x-tooltip="tooltip"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                  />
                </svg>
              </a>
              <a
                class="font-medium text-red-600 hover:ring-red-800"
                (click)="deleteUser(user)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                  x-tooltip="tooltip"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-new-user-modal
  [userData]="selectedUserForEdit"
  [isEdit]="isEditModal"
  *ngIf="showModal"
  (close)="closeModal()"
></app-new-user-modal>
<app-delete-modal
  *ngIf="showDeleteModal"
  [userData]="selectedUserForDeletion"
  (closeDelete)="closeModal()"
></app-delete-modal>
