<div
  class="relative overflow-y-scroll overflow-x-auto p-4 shadow-md sm:rounded-lg"
  style="height: calc(100vh - 100px)"
>
  <div
    class="flex flex-col sm:flex-row items-center pb-4 space-y-4 sm:space-y-0"
  >
    <div class="inline-flex items-center text-neutral-800 font-medium text-lg">
      Panel
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <!-- Panel: Solicitudes por técnico -->
    <div class="panel-card">
      <h3 class="seccion-title">
        {{
          rol === "ADMIN"
            ? "Solicitudes por técnico"
            : "Solicitudes pendientes de aprovación"
        }}
      </h3>
      <div class="block w-full overflow-x-auto">
        <table class="table" *ngIf="rol === 'ADMIN'">
          <thead>
            <tr>
              <th class="header-table">Usuario</th>
              <th class="header-table">Solicitudes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of ticketsByUsers">
              <td class="table-cell">{{ ticket.userName }}</td>
              <td class="table-cell text-center">{{ ticket.ticketCount }}</td>
            </tr>
          </tbody>
        </table>
        <div class="info-card text-blue-500" *ngIf="rol === 'TEC'">
          <div class="info-card-text">Tienes</div>
          <div class="info-card-count">{{ pendingApprovalCount }}</div>
          <div class="info-card-text">solicitudes pendientes de aprovación</div>
        </div>
      </div>
    </div>

    <!-- Panel: Estado de Solicitudes -->
    <div class="panel-card">
      <h3 class="seccion-title">Estado de Solicitudes</h3>
      <div class="chart-container max-h-72">
        <canvas id="chartPie"></canvas>
      </div>
    </div>

    <!-- Panel: Solicitudes recibidas -->
    <div class="panel-card" *ngIf="rol === 'ADMIN'">
      <h3 class="seccion-title">Solicitudes recibidas</h3>
      <div class="block w-full overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th class="header-table">Categorías</th>
              <th class="header-table">Solicitudes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of ticketsByCategories">
              <td class="table-cell">{{ ticket[1] }}</td>
              <td class="table-cell text-center">{{ ticket[2] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-4">
    <!-- Panel: Solicitudes vencidas -->
    <div class="panel-card col-span-1 lg:col-span-1">
      <h3 class="seccion-title">Solicitudes vencidas</h3>
      <div class="info-card text-red-500">
        <div class="info-card-count">{{ ticketsOverdue }}</div>
        <div class="info-card-text">
          solicitudes vencidas de {{ openTicketsCount }} abiertas
        </div>
      </div>
    </div>

    <div class="hidden lg:block"></div>

    <!-- Panel: Técnicos disponibles -->
    <div class="panel-card col-span-1 lg:col-span-1" *ngIf="rol === 'ADMIN'">
      <h3 class="seccion-title">Técnicos disponibles</h3>
      <div class="info-card text-blue-500">
        <div class="info-card-count">{{ tecUser }}</div>
        <div class="info-card-text">técnicos disponibles</div>
      </div>
    </div>
  </div>
</div>
