<div
  class="fixed w-full z-30 flex bg-neutral-800 p-2 items-center justify-center h-16 px-10"
>
  <div
    class="logo ml-12 text-2xl font-semibold text-lime-300 transform ease-in-out duration-500 flex-none h-full flex items-center justify-center"
  >
    ProHelp
  </div>
  <!-- SPACER -->
  <div class="grow h-full flex items-center justify-center"></div>
  <div class="flex-none h-full text-center flex items-center justify-center">
    <div class="flex space-x-3 items-center px-3">
      <div class="flex-none flex justify-center">
        <button class="w-8 h-8 flex icon-container" (click)="logout()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-logout"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
            />
            <path d="M9 12h12l-3 -3" />
            <path d="M18 15l3 -3" />
          </svg>
        </button>
      </div>

      <div class="hidden md:block text-sm md:text-md text-white">
        {{ user.username }}
      </div>
    </div>
  </div>
</div>
