<div
  class="relative overflow-y-hidden overflow-x-auto pb-4 px-4 shadow-md sm:rounded-lg"
  style="height: calc(100vh - 100px)"
>
  <div
    class="flex flex-col sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center pb-4"
  >
    <div
      class="inline-flex items-center text-neutral-800 font-medium rounded-lg text-lg px-3 py-1.5"
    >
      Solicitudes
    </div>
    <label for="table-search" class="sr-only">Buscar</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        id="table-search"
        placeholder="Buscar solicitud"
        class="block p-2 ps-10 text-sm text-neutral-800 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
        aria-label="Buscar categoría"
      />
    </div>
  </div>

  <div class="p-4 space-x-4">
    <button class="button-primary" (click)="openModal()">Nueva</button>
  </div>

  <div class="overflow-auto max-h-[calc(100vh-200px)]">
    <table class="w-full text-sm text-left">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Id</th>
          <th scope="col" class="px-6 py-3">Asunto</th>
          <th scope="col" class="px-6 py-3">Solicitante</th>
          <th scope="col" class="px-6 py-3">Estado</th>
          <th scope="col" class="px-6 py-3 text-center">Fecha Creación</th>
          <th scope="col" class="px-6 py-3 text-center">Fecha Cierre</th>
          <th scope="col" class="px-6 py-3 text-center">Técnico</th>
          <th scope="col" class="px-6 py-3" *ngIf="rol !== 'GEN'">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="border-b hover:bg-gray-50"
          *ngFor="let ticket of tickets; trackBy: trackByTicketId"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-neutral-700 whitespace-nowrap"
          >
            {{ ticket.id }}
          </th>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-neutral-700 whitespace-nowrap"
          >
            {{ ticket.subject }}
          </th>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-neutral-700 whitespace-nowrap"
          >
            {{ ticket.requester.name }}
          </th>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-neutral-700 whitespace-nowrap"
          >
            {{ getTicketStatusName(ticket.status) }}
          </th>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-neutral-700 whitespace-nowrap text-center"
          >
            {{ ticket.createdDate | date : "dd/MM/yyyy, h:mm a" }}
          </th>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-neutral-700 whitespace-nowrap text-center"
          >
            {{
              ticket.dueDate
                ? (ticket.dueDate | date : "dd/MM/yyyy, h:mm a")
                : "---"
            }}
          </th>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-neutral-700 whitespace-nowrap text-center"
          >
            {{ ticket.assignedTechnician?.username || "---" }}
          </th>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-neutral-700 whitespace-nowrap"
            *ngIf="rol !== 'GEN'"
          >
            <a
              class="font-medium text-green-500 hover:ring-green-700 cursor-pointer"
              (click)="toAssign(ticket.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-file-barcode"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                <path
                  d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                />
                <path d="M8 13h1v3h-1z" />
                <path d="M12 13v3" />
                <path d="M15 13h1v3h-1z" />
              </svg>
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <app-nsmodal *ngIf="showModal" (close)="closeModal()"></app-nsmodal>
</div>
