<div
  tabindex="-1"
  class="fixed inset-0 bg-black bg-opacity-50 md:p-10 flex justify-center items-center"
  (click)="closeModal()"
>
  <div
    class="relative p-4 w-full max-w-2xl max-h-full"
    (click)="$event.stopPropagation()"
  >
    <div class="relative bg-neutral-800 rounded-lg shadow-sm">
      <!-- Header del modal -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-lg font-semibold text-gray-200">Crear nuevo usuario</h3>
        <button
          class="text-gray-400 p-1.5 bg-transparent hover:bg-lime-200 hover:text-black"
          (click)="closeModal()"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>

      <!-- Formulario -->
      <form
        class="p-4 md:p-5"
        [formGroup]="createForm"
        (ngSubmit)="submitForm()"
      >
        <div class="mb-4">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-200"
            >Email</label
          >
          <input
            type="email"
            id="email"
            placeholder="Email"
            formControlName="email"
            class="input-field"
          />
          <div *ngIf="isRequired('email')" class="text-red-400 text-sm mt-2">
            El email es obligatorio.
          </div>
          <div
            *ngIf="
              createForm.get('email')?.hasError('email') &&
              createForm.get('email')?.touched
            "
            class="text-red-400 text-sm mt-2"
          >
            El formato del email es incorrecto.
          </div>
        </div>
        <div class="mb-4">
          <label
            for="nombre"
            class="block mb-2 text-sm font-medium text-gray-200"
            >Nombre</label
          >
          <input
            type="text"
            id="nombre"
            placeholder="Nombre"
            formControlName="name"
            class="input-field"
          />
          <div *ngIf="isRequired('nombre')" class="text-red-400 text-sm mt-2">
            El nombre es obligatorio.
          </div>
        </div>
        <div class="mb-4">
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-gray-200"
            >Username</label
          >
          <input
            type="text"
            id="username"
            placeholder="Username"
            formControlName="username"
            class="input-field"
          />
          <div *ngIf="isRequired('username')" class="text-red-400 text-sm mt-2">
            Se requiere un username.
          </div>
        </div>

        <!-- Contraseña y Confirmar Contraseña -->
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="mb-4">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-200"
              >Contraseña</label
            >
            <input
              type="password"
              id="password"
              placeholder="Contraseña"
              formControlName="password"
              class="input-field"
            />
            <div
              *ngIf="isRequired('password')"
              class="text-red-400 text-sm mt-2"
            >
              La contraseña es obligatoria.
            </div>
            <div
              *ngIf="
                createForm.get('password')?.hasError('minlength') &&
                createForm.get('password')?.touched
              "
              class="text-red-400 text-sm mt-2"
            >
              La contraseña debe tener al menos 8 caracteres.
            </div>
          </div>
          <div class="mb-4">
            <label
              for="confirmPassword"
              class="block mb-2 text-sm font-medium text-gray-200"
              >Confirmar contraseña</label
            >
            <input
              type="password"
              id="confirmPassword"
              placeholder="Confirmar contraseña"
              formControlName="confirmPassword"
              class="input-field"
            />
            <div
              *ngIf="isRequired('confirmPassword')"
              class="text-red-400 text-sm mt-2"
            >
              Es necesario confirmar la contraseña.
            </div>
            <div *ngIf="passwordsMismatch" class="text-red-400 text-sm mt-2">
              Las contraseñas no coinciden.
            </div>
          </div>
        </div>

        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="mb-4">
            <label
              for="area"
              class="block mb-2 text-sm font-medium text-gray-200"
              >Área</label
            >
            <select id="areaId" formControlName="areaId" class="input-field">
              <!-- Opciones de áreas -->
              <option value="" disabled selected hidden>
                Selecciona un area
              </option>
              <option *ngFor="let area of areas" [value]="area.id">
                {{ area.name }}
              </option>
            </select>
            <div *ngIf="isRequired('areaId')" class="text-red-400 text-sm mt-2">
              Se requiere un área.
            </div>
          </div>

          <div class="mb-4">
            <label
              for="role"
              class="block mb-2 text-sm font-medium text-gray-200"
              >Rol</label
            >
            <select id="role" formControlName="role" class="input-field">
              <!-- Opciones de roles -->
              <option value="" disabled selected hidden>
                Selecciona un rol
              </option>
              <option *ngFor="let role of rolesBackend" [value]="role">
                {{ rolesEnum[role] }}
              </option>
            </select>
            <div *ngIf="isRequired('role')" class="text-red-400 text-sm mt-2">
              Se requiere un rol.
            </div>
          </div>
        </div>

        <!-- Botones de acción -->
        <div class="flex items-center justify-between mt-6">
          <button
            type="submit"
            class="button-primary"
            [disabled]="createForm.invalid"
          >
            Crear Usuario
          </button>
          <button type="button" class="button-secondary" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
