<div class="flex px-5 py-3 text-neutral-800 rounded-lg shadow-xl">
  Herramientas
</div>

<div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">
  <app-card
    title="{{ copies[0]?.title }}"
    description="{{ copies[0]?.description }}"
    link="/dashboard/categories"
    copyButton="Gestionar"
    class="bg-white shadow rounded-lg"
  ></app-card>
  <app-card
    title="{{ copies[1]?.title }}"
    description="{{ copies[1]?.description }}"
    link="/dashboard/resolutions"
    copyButton="Gestionar"
    class="bg-white shadow rounded-lg"
  ></app-card>
  <div
    class="col-span-1 flex justify-center md:col-span-2 lg:col-start-1 lg:col-end-3 lg:row-start-2"
  >
    <app-card
      title="{{ copies[2]?.title }}"
      description="{{ copies[2]?.description }}"
      copyButton="Generar"
      link="/dashboard/reports"
      class="bg-white shadow rounded-lg"
    ></app-card>
  </div>
</div>
